<div class="profile">
  <div class="weui_cells_title">Your Profile</div>
  <div class="weui_cells">
    <div class="weui_cell" id="avatarCell">
      <div class="weui_cell_bd weui_cell_primary">
        <p>Avatar</p>
      </div>
      <div class="weui_cell_ft">
        <img src="<%= @user.avatar %>" width="64" height="64">
      </div>
    </div>
    <div class="weui_cell">
      <div class="weui_cell_bd weui_cell_primary">
        <p>Name</p>
      </div>
      <div class="weui_cell_ft">
        <%= @user.nickname %>
      </div>
    </div>
    <div class="weui_cell">
      <div class="weui_cell_bd weui_cell_primary">
        <p>Sex</p>
      </div>
      <div class="weui_cell_ft">
        <%= get_sex @user.sex %>
      </div>
    </div>
  </div>

  <div class="weui_cells_title">Your Orders</div>
  <div class="weui_cells weui_cells_access">
    <% @user.orders.each do |o| %>
    <a class="weui_cell" href="/order/<%= o.id %>">
      <div class="weui_cell_bd weui_cell_primary">
        <p><%= o.checkin %> - <%= o.leaveat%></p>
      </div>
      <div class="weui_cell_ft">
        <%= o.room_type.capitalize %> <%= o.floor %>F
      </div>
    </a>
    <% end %>
  </div>

  <div class="weui-btn-area">
    <a href="/book" class="weui_btn weui_btn_default">Book Room</a>
  </div>
</div>
